---
CompileFlags:
  Add:
    - -I./include
    - --target=armv7-unknown-linux-gnueabihf
    - -march=armv7-a
    - -mfloat-abi=hard
    - -mfpu=neon-vfpv4
    - -DCOMMS_BACKEND=COMMS_BACKEND_SIM
    - -DCOMMS_SIM_DATA_DIR="simulated_data"